@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /*CUSTOM COLOR*/
  --color-lenovo-red: #e22319;
  --color-lenovo-blue: #294e95;
  --color-black-500: #464646;
  --color-grey-lenovo: #3b3b3b;
  --color-grey-second-lenovo: #3b3b3b;
  --color-grey-desc: #878787;
  --color-grey-card: #f5f5f5;

  /*CUSTOM FONT*/
  --font-roboto: "Roboto", sans-serif;

  /*CUSTOM FONT*/
  --text-tiny: 0.5rem;
}
